In [1]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install seaborn

Requirement already satisfied: seaborn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.0.4)
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.2.1)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install matplotlib

Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib.pyplot as plt

In [9]:
import seaborn as sns

In [23]:
%ls datasets

adult.csv                  cwurData.csv       movies.csv
airline_data.csv           data.csv           MvR.csv
antropometria00.csv        headbrain.csv      nhanes_2015_2016.csv
antropometria-dataset.csv  MessiRonaldo2.csv  pokemon.csv
Book3.csv                  MessiRonaldo3.csv  reg_data.csv
Canada.xlsx                MessiRonaldo4.csv  sample_pivot.csv
Cartwheeldata.csv          MessiRonaldo.csv   tips.csv
census.csv                 mic2.xlsx          weight-height.csv
coches.csv                 mic.xlsx

In [ ]:
path = 'datasets/MessivsRonaldo.csv'
df= pd.read_csv(path, 
                low_memory=False)
df.head()

# Description of Data
In this dataset we can see the stats of Messi vs Ronaldo from the 2009-2018 seasons. It shows each players league and champions league goals, assists, appearances, and minutes.

# Critical Variables Identified

The critical variables in this dataset would be the goals and assists since that would end the debate on who was had a better season.

# My variables of intrest.

* `Total Goals`: the total number of goals 
* `Total Assists`: the total number of assists

# Hypothesis

In this dataset, I predict that I can prove that Messi has been the better player overall during the 2009-2018 seasons.

In [17]:
df.columns

Index(['Season', '2017-18 M', '2017-18 R', '2016-17 M', '2016-17 R',
       '2015-16 M', '2015-16 R', '2014-15 M', '2014-15 R', '2013-14 M',
       '2013-14 R', '2012-13 M', '2012-13 R', '2011-12 M', '2011-12 R',
       '2010-11 M', '2010-11 R', '2009-10 M', '2009-10 R', 'Total M',
       'Total R'],
      dtype='object')

In [25]:
df.head()

,Season,2017-18 M,2017-18 R,2016-17 M,2016-17 R,2015-16 M,2015-16 R,2014-15 M,2014-15 R,2013-14 M,...,2012-13 M,2012-13 R,2011-12 M,2011-12 R,2010-11 M,2010-11 R,2009-10 M,2009-10 R,Total M,Total R
0,Total Goals,40,41,48,37,32,51,53,58,36,...,54,46,64,56,43,46,42,33,329,311
1,Total Assists,14,8,11,11,17,15,27,20,13,...,17,12,29,17,25,17,13,13,166,130